node_modules
**/node_modules
.next
**/.next
.git
.gitignore
*.log
coverage
blob-store
*.tsbuildinfo
docs
.env
.env.*
!.env.example
.tabductor-staging
.tabductor-aws
**/.terraform
**/*.tfstate*
**/*.tfplan
**/*.auto.tfvars.json
data
